/* componnet */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}



html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-family: var(--primary-font);
    direction: rtl;
    color: var(--dark-color);
}


a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 250ms ease;
}

a:hover {
    color: var(--secondary-color);
}



.logo-text {
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--primary-color);
}

.back-top{
    width: 8rem;
    height: 8rem;
    background-color: var(--primary-color);
    border: .1rem solid var(--white-color);
    color: var(--white-color);
    border-radius: 50%;
    font-size: 2rem;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease;
}
.back-top:hover{
    background-color: var(--third-color);
}   
.back-top--active{
    opacity: 1;
    visibility: visible;
}

.cover {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 250ms ease;
}

.cover--active {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}


/* section-title */
section{
    margin: 5rem 0;
}

.section-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 2.5rem 0;
}
.section-title__text{
    color: #000;
}
.section-title__link{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color);
}

/* /section-title */