@import url('variebls.css');
@import url('fonts.css');
@import url('defult.css');
@import url('nav.css');


/* main-header */

.main-header {
    background-image: url('../images/img/main-header__img\ \(2\).jpg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed ;
    
    padding: 10rem 0;
    color: var(--white-color);
    text-align: center;
    position: relative;
    margin-bottom: 25rem;
}

.main-header__content{
    width: 45rem;
    margin: auto;
}

.main-header__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 0 0 1rem var(--primary-color);
}

.main-header__suntitle {
    margin: 2rem 0 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.main-header__caption {
    
}



.main-header__boxs{
    display: flex;
    position: absolute;
    gap: 100rem;
    bottom: -18rem;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    transition: all 1000ms ease;
}
.main-header__boxs-right{

}
.main-header__box{
    background-color: var(--white-color);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
}
.main-header__box-img{
    width: 20rem;
    height: 20rem;
}
.main-header__box-link{

}

/* /main-header */