@import url('variebls.css');
@import url('fonts.css');
@import url('defult.css');
@import url('nav.css');

/* header */

.header {
    height: 100vh;
    background: rgb(2, 0, 36);
    background-image: url(../images/img/header-background.webp), linear-gradient(0deg, rgba(2, 0, 36, 0.9136029411764706) 0%, rgba(4, 90, 209, 1) 100%);
    color: var(--white-color);
    position: relative;
    overflow: hidden;
}

.header-content {
    width: 100%;
    text-align: center;
}

.header-title {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.header-content__caption {
    line-height: 3rem;
    font-size: var(--font-size-l);
}

.header-link {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header-link__btn {
    color: var(--white-color);
    border: .1rem solid var(--white-color);
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: var(--font-size-medium);
    width: 15rem;
}

.header-link__btn:hover {
    background-color: #F7ED4C;
    color: var(--dark-color);
}

.header-link__btn--active {
    background-color: var(--white-color);
    border: none;
    color: var(--dark-color);
}


/* /header */


/* companies */

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.companies {
    overflow: hidden;
    padding: 1rem 0;
    background-color: #000;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
    display: flex;
    filter: grayscale(100%)
}

/* 
.companies::after,
.companies::before {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;

}

.companies::after {
    background-image: linear-gradient(90deg , #52627238 , transparent);
}

.companies::before {
    right: 0;
    z-index: 2;
    background-image: linear-gradient(270deg , #52627238 , transparent);
} */

.companies-logos {
    white-space: nowrap;
    animation: 30s scroll infinite linear;

}

.companies-logos__logo {
    height: 5rem;
    margin: 0 9rem;
}

/* /companies */



/* recording */




/* /recording */