@import url('variebls.css');
@import url('fonts.css');
@import url('defult.css');
@import url('nav.css');

/* header */

.header {
    height: 100vh;
    background: rgb(2, 0, 36);
    background-image: url(../images/img/header-background.webp), linear-gradient(0deg, rgba(2, 0, 36, 0.9136029411764706) 0%, rgba(4, 90, 209, 1) 100%);
    color: var(--white-color);
    position: relative;
    overflow: hidden;
}

.header-content {
    width: 100%;
    text-align: center;
}

.header-title {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.header-content__caption {
    line-height: 3rem;
    font-size: var(--font-size-l);
}

.header-link {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header-link__btn {
    color: var(--white-color);
    border: .1rem solid var(--white-color);
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: var(--font-size-medium);
    width: 15rem;
}

.header-link__btn:hover {
    background-color: #F7ED4C;
    color: var(--dark-color);
}

.header-link__btn--active {
    background-color: var(--white-color);
    border: none;
    color: var(--dark-color);
}


/* /header */


/* companies */

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.companies {
    overflow: hidden;
    padding: 1rem 0;
    background-color: #000;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
    display: flex;
    filter: grayscale(100%)
}

/* 
.companies::after,
.companies::before {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;

}

.companies::after {
    background-image: linear-gradient(90deg , #52627238 , transparent);
}

.companies::before {
    right: 0;
    z-index: 2;
    background-image: linear-gradient(270deg , #52627238 , transparent);
} */

.companies-logos {
    white-space: nowrap;
    animation: 30s scroll infinite linear;

}

.companies-logos__logo {
    height: 5rem;
    margin: 0 9rem;
}

/* /companies */



/* recording */

.recording {
    margin-top: 5rem;
}

.recording-content {
    display: flex;
    gap: 2rem;
}

.recording-content__right,
.recording-content__left {
    flex-basis: 50%;
    box-shadow: 0 0 .5rem var(--dark-color);
    border-radius: 1rem;
    padding: 2rem;
}

.recording-content__right {
    background-color: var(--third-color);
    background-image: linear-gradient(0deg, rgba(2, 0, 36, 0.5) 0%, transparent 100%);
}

.recording-content__left {
    background-color: var(--secondary-color);
    background-image: linear-gradient(0deg, rgba(2, 0, 36, 0.5) 0%, transparent 100%);
}

.recording-turn {
    flex-direction: column;
}

.recording-turn__search {
    box-shadow: 0 0 .3rem var(--dark-color);
    border-radius: .5rem;
    padding: 1rem;
    height: 5rem;
    width: 100%;
    background-color: var(--white-color);
}

.recording-turn__search-input {
    border: none;
    width: 100%;
}

.recording-turn__filter {
    width: 100%;
    padding: 1rem 0;
    gap: 0.5rem;
}

.filter-box {
    background-color: #0459d176;
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    font-size: var(--font-size-medium);
}

.filter-box__icon {
    margin-left: 0.5rem;
}

.filter-choose {
    width: 100%;
    margin: 1rem 0;
}

.filter-choose-box {
    width: 100%;
    box-shadow: 0 0 .5rem var(--dark-color);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    cursor: pointer;
}

.filter-choose-box__icon {
    margin-left: .5rem;
}

.filter-choose__output {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    overflow-y: scroll;
    background-color: var(--white-color);
    box-shadow: 0 0 0.5rem var(--dark-color);
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}

.filter-doctor {
    width: 100%;
    height: auto;
    box-shadow: 0 0 0.3rem var(--dark-color);
    padding: .5rem 1rem;
    border-radius: 0.5rem;
    font-size: var(--font-size-small);
}

.filter-doctor__img {
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;

}

.filter-doctor__name {}



.queue {}

.queue-loader {
    width: 100%;
    height: 5rem;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    box-shadow: 0 0 .5rem var(--dark-color);
    position: relative;
    overflow: hidden;
}
.queue-loader::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    background-color: #FB607F;
}
.queue-loader::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    background-color: var(--dark-color);
}

.queue__detailse {}

.queue__time {}

.queue-card {}

.queue-card__title {}

.queue-card__content {}

.queue-card__item {}

.queue-card__address {}

/* /recording */